.fundRaise {
    margin:  0 8rem;
}

.fundraiseOne {
    display: flex;
    justify-content: space-between;
}
.fundraiseTwo {
    display: flex;
    justify-content: space-between;
}
.fundRaiseWorks {
    /* width: 20rem; */
    margin-right: 5rem;
}
.fundStarters h3 {
    font-size: 38px;
    font-weight: 400;
}
.fundStarters p {
    padding: 1rem 0;
    font-size: 23px;
}
.goFund {
    display: flex;
    padding-top: 1rem;
}
.buttonStart {
    padding-right: 1rem;
}
.fundRaiseImage img {
    width: 29rem;
}
.transactFund {
    padding-top: 10rem;
}