.headerCard {
    position: relative;
    width: 100%;
    height: 60px;
    box-shadow: -3px 2px 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 3rem;
}
.greyRectangle {
    width: 60px;
    height: 60px;
    background: #C4C4C4;
    margin-right: 3.2rem;
}
.headerSide {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    margin-right: 2rem;
}
.headerSide p {
    font-size: 12px;
    padding-right: 2rem;
    /* width: 70px; */
}
.headerSideOne, .headerSideTwo{
    display: flex;
}
.headerSideTwo {
    padding: 0 4rem 0 26rem;
}
.customButton{
    position: absolute !important;
    top: 1rem !important;
    right: 7rem !important;
    color: #000000 !important;
}